.search button{
    color: rgb(14, 191, 132);
    background-color: rgba(226, 226, 221, 0.722);
    border-radius: 10px;
    border-color: rgb(12, 181, 124);
    border-style: solid;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 80px;
    margin-bottom: 10px;
    text-align: center;

}
#plus button{
    color: white;
    background-color:  rgb(12, 181, 124);
    border-color: rgb(12, 181, 124);
    border-style: none;
    border-radius: 40px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left: 80px;
    text-align: center;
    font-size: x-large ;
    font-style: inherit;
    margin-bottom: 10px;
}
#createaccount button{
    color: white;
    font-size: large ;
    background-color:rgb(53, 89, 250);
    border-color: black;
    border-style: double;
    margin-left: 80px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 5px 5px 2px 1px black;
}